[Unit]
Description=Nethermind Surge node
Documentation=https://docs.nethermind.io
After=network.target tdx-setup.service
Requires=tdx-setup.service

[Service]
User=nethermind-surge
Group=eth
EnvironmentFile=/etc/nethermind-surge/.env.hoodi
WorkingDirectory=/home/nethermind-surge
ExecStartPre=+/usr/bin/nethermind-surge-init
ExecStart=/usr/bin/nethermind \
    --config=none \
    --datadir=/persistent/taiko-nethermind \
    --Init.ChainSpecPath=/etc/nethermind-surge/hoodi_chainspec.json \
    --Init.GenesisHash=${L2_GENESIS_HASH} \
    --Init.DiscoveryEnabled=false \
    --Metrics.Enabled=true \
    --Metrics.ExposePort=${L2_METRICS_PORT} \
    --JsonRpc.Enabled=true \
    --JsonRpc.EnabledModules=[debug,eth,net,web3,txpool,rpc,subscribe,trace,personal,proof,parity,health] \
    --JsonRpc.Host=0.0.0.0 \
    --JsonRpc.Port=${L2_HTTP_PORT} \
    --JsonRpc.WebSocketsPort=${L2_WS_PORT} \
    --JsonRpc.JwtSecretFile=/tmp/surge_jwt.hex \
    --JsonRpc.EngineHost=0.0.0.0 \
    --JsonRpc.EnginePort=${L2_ENGINE_API_PORT} \
    --Network.DiscoveryPort=${L2_NETWORK_DISCOVERY_PORT} \
    --Network.P2PPort=${L2_NETWORK_DISCOVERY_PORT} \
    --Sync.FastSync=false \
    --Sync.SnapSync=false \
    --HealthChecks.Enabled=true \
    --log=${NETHERMIND_LOG_LEVEL}
Restart=on-failure
LimitNOFILE=1000000

[Install]
WantedBy=default.target