[Unit]
Description=Nethermind node
Documentation=https://docs.nethermind.io
After=network.target lighthouse.service tdx-setup.service
Requires=tdx-setup.service

[Service]
User=nethermind
Group=nethermind
EnvironmentFile=/home/nethermind/.env
WorkingDirectory=/home/nethermind
ExecStartPre=+/usr/bin/nethermind-init
ExecStart=/usr/bin/nethermind \
    --config hoodi \
    --dd /persistent/nethermind \
    --Sync.NonValidatorNode true \
    --Sync.DownloadBodiesInFastSync false \
    --Sync.DownloadReceiptsInFastSync false \
    --JsonRpc.JwtSecretFile /tmp/jwt.hex \
    --JsonRpc.Host 0.0.0.0 \
    --data-dir /home/nethermind/data
Restart=on-failure
LimitNOFILE=1000000

[Install]
WantedBy=default.target