[Unit]
Description=Nethermind Surge node
Documentation=https://docs.nethermind.io
After=network.target nethermind.service

[Service]
User=nethermind-surge
Group=nethermind-surge
EnvironmentFile=/home/nethermind-surge/.env
WorkingDirectory=/home/nethermind-surge
ExecStartPre=+/usr/bin/nethermind-surge-init
ExecStart=/home/nethermind-surge/bin/nethermind-surge \
    --config surge \
    --dd /persistent/nethermind-surge \
    --Sync.NonValidatorNode true \
    --Sync.DownloadBodiesInFastSync false \
    --Sync.DownloadReceiptsInFastSync false \
    --data-dir /home/nethermind-surge/data
Restart=on-failure
LimitNOFILE=1000000

[Install]
WantedBy=default.target