[Unit]
Description=TDXS
After=network.target tdxs-socket.socket
Requires=tdxs-socket.socket

[Service]
ExecStart=/usr/bin/tdxs driver \
    --config /etc/tdxs/config.yaml
Restart=on-failure

[Install]
WantedBy=default.target
