[Unit]
Description=TDXS
After=network.target tdx-setup.service
Requires=tdxs.socket tdx-setup.service

[Service]
Type=notify
ExecStartPre=+/usr/bin/tdxs-init
ExecStart=/usr/bin/tdxs \
    --config /etc/tdxs/config.yaml
StandardInput=socket
Restart=on-failure

[Install]
WantedBy=default.target
